.button-container {
  margin-top: 20px;
}

.button {
  background-color: #f1c40f; /* Golden theme */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #d4ac0d; /* Darker shade for hover effect */
}

h2, h3, h4 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="text"], input[type="number"], select, input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
