.education-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.education-title {
  color: #d49a6a;
  text-align: center;
}

.education-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  padding: 10px;
  border: 1px solid #d49a6a;
  border-radius: 4px;
}

.file-preview {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.file-preview-image {
  max-width: 100px;
  margin-right: 10px;
}

.delete-button,
.save-button {
  background-color: #d49a6a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
